body {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#calculator {
    width: 25%;
    height: 400px;
    display: flex;
    flex-direction: column;
}

#display {
    border-bottom-style: solid;
    border-bottom-width: 2px;
    height: 15%;
    font-size: 32px;
    font-weight: 700;
}

#keyboard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4px;
    height: 85%;
}

#equal {
    grid-column: 3 / span 2;
    background-color: orangered;
    color: white;
    border-radius: 16px;
}

#equal:active {
    background-color: rgb(211, 56, 0);
}

.operators {
    background-color: white;
    border: none;
    color: orangered;
    font-size: 22px;
    font-weight: 700;
    border-radius: 16px;
}

.operators:hover {
    cursor: pointer;
}

.operators:active {
    background-color: rgb(219, 219, 219);
}

.nums {
    background-color: white;
    border: none;
    font-size: 22px;
    font-weight: 700;
    border-radius: 16px;
}

.nums:hover {
    cursor: pointer;
}

.nums:active {
    background-color: rgb(219, 219, 219);
}